@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* TYPO */
/* apply desktop first for this case only */
@media only screen and (max-width: 25em) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4,
  h5,
  h6 {
    font-size: 1rem;
  }
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

section {
  margin: 2rem 0;
}
@media only screen and (min-width: 48em) {
  section {
    margin: 4rem 0;
  }
}

/* GRID */
.container {
  width: calc(100% - 2rem);
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
}

.main {
  max-width: 48rem;
}
